@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  font-size: 6.25%;

  --font-family: 'Poppins', sans-serif;
  --primary-color: #7E2ECF;

  --form-max-width: 800rem;

  --container-bg-color: white;
  --container-padding: 10rem 20rem 30rem 20rem;
  --container-border-radius: 10rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: 14rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rw-widget svg {
  color: var(--primary-color);
}

.rw-widget > div {
  transition: 0.25s !important;
}

.rw-state-focus > div:first-of-type {
  border-color: var(--primary-color);
  box-shadow: 0 0 1px 0 var(--primary-color) !important;
}

.rw-list-option.rw-state-selected {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}
